In [4]:
#define the functoin 'say_hello' to print "Hello!" when called
def say_hello():
    print("Hello!")

In [5]:
#call function
say_hello()

Hello!

In [7]:
#define the functions "say_somthing" so it prints whatever is passed as the variable was called
def say_something(something):
    print(something)

In [8]:
#call function
say_something("Hello World")

Hello World

In [10]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [11]:
# a lsit of my grades
my_grades = ['B', 'C', 'B', 'D']

In [13]:
#import pandas
import pandas as pd

#conver the my_frades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [15]:
#change the grades by one letter grade
my_grades.map({'B': 'A', 'C': 'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
#USING THE FORMAT() function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

32
85
87
98

In [19]:
#convert the numerical grades to a series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
#foramt grades to neares whole
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object